[submodule "netmatters"]
	path = netmatters
	url = https://github.com/wigscs/netmatters
	branch = main
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/wigscs/portfolio
	branch = main
[submodule "jsarray"]
	path = jsarray
	url = https://github.com/wigscs/jsarray.git
